<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="browser" value="Chrome"/>
    <parameter name="env" value="QA"/>

    <listeners>
        <listener class-name="com.perfect.Listeners.ListenerTest"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="Ladybird">
        <classes>
            <class name="com.perfect.Specs.Login.Authentication"></class>
            <class name="com.perfect.Specs.School.AddSchool"></class>
            <class name="com.perfect.Specs.School.ViewSchool"></class>
            <class name="com.perfect.Specs.Rooms.AddRoom"></class>
            <class name="com.perfect.Specs.Staff.AddStaff"></class>
            <class name="com.perfect.Specs.Student.AddStudent"></class>
            <class name="com.perfect.Specs.School.DisableSchool"></class>
            <class name="com.perfect.Specs.Login.Logout"></class>
        </classes>
    </test>
</suite>
